
<nav class="navbar fixed-bottom navbar-dark bg-dark">
  <div class="container-fluid">
    <h6 class="navbar-text">&copy; Copyright 2022</h1>
  </div>
</nav>
  <script src= "/Scripts/app.js"></script> <!--- script file-->
  <script src= "/bootstrap/dist/js/bootstrap.min.js"></script> <!--- script file-->
  <script src= "/jquery/dist/jquery.min.js"></script> <!--- script file-->
</body>
</html>